In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv('C:/Users/LENOVO/OneDrive/Desktop/PYTHON/House Price Prediction/data/cleaned/data.csv')
print(f'Shape: {df.shape}')
df.head()

Shape: (4600, 15)

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city
0,0,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,Shoreline
1,1,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,Algona
2,2,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,Kent
3,3,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,Bellevue
4,4,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,Redmond

In [2]:
cat_cols = df.select_dtypes(include='object').columns.tolist()

In [3]:
df = pd.get_dummies(df, cat_cols, drop_first=False)

In [4]:
X = df.drop('price', axis=1)
y = df['price']

In [5]:
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=11)

In [6]:
train_X.to_csv('C:/Users/LENOVO/OneDrive/Desktop/PYTHON/House Price Prediction/data/processed/train_X.csv', index=False)
test_X.to_csv('C:/Users/LENOVO/OneDrive/Desktop/PYTHON/House Price Prediction/data/processed/test_X.csv', index=False)
train_y.to_csv('C:/Users/LENOVO/OneDrive/Desktop/PYTHON/House Price Prediction/data/processed/train_y.csv', index=False)
test_y.to_csv('C:/Users/LENOVO/OneDrive/Desktop/PYTHON/House Price Prediction/data/processed/test_y.csv', index=False)